$white-color: #ffffff;
$black-color: #000000;
$text-color: #242121;
$main-title_color: #0d302c;
$accent-color: #00b2a0;
$title-color: #01353e;
$bg-color: #f8f8f8;
$lg-gray: #c4c4c4;
$border-color: #dadada;

%roboto-300 {
  font-family: "Roboto Condensed", serif;
  font-style: normal;
  font-weight: 300;
}

%roboto_italic-300 {
  font-family: "Roboto Condensed", serif;
  font-style: italic;
  font-weight: 300;
}

%roboto-400 {
  font-family: "Roboto Condensed", serif;
  font-style: normal;
  font-weight: 400;
}

%roboto_italic-400 {
  font-family: "Roboto Condensed", serif;
  font-style: italic;
  font-weight: 400;
}

%roboto-700 {
  font-family: "Roboto Condensed", serif;
  font-style: normal;
  font-weight: 700;
}

%ralway-700 {
  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 700;
}

%ralway-600 {
  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 600;
}

%img-styles {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$breakpoints: (
  "desktop": 1230px,
  "tablet-2": 992px,
  "tablet": 768px,
  "phone": 560px,
);
