@import "vars";
@import "reset";
@import "fonts";
@import "global";

.header {
  @extend %img-styles;
  background-color: transparent;
  height: 100vh;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      180deg,
      #01353e 0%,
      rgba(51, 51, 51, 0.6) 31.64%,
      rgba(51, 51, 51, 0.22) 74.35%,
      rgba(51, 51, 51, 0) 99.87%
    );
    inset: 0;
    z-index: -1;
  }
  &__inner {
    padding-top: 35px;
  }
  .container {
    display: flex;
    gap: 185px;
    align-items: center;
    padding: 0;
  }
  &__list {
    display: flex;
    gap: 45px;
    @extend %roboto-400;
    letter-spacing: 0.03em;
    font-size: 24px;
    color: $white-color;
  }
  &__item {
    padding-bottom: 5px;
    &--active {
      border-bottom: 1px solid $accent-color;
    }
  }
  &__hero {
    height: calc(100vh - 341px);
    margin: 0 auto;
    @extend %flex-center;
  }
  &__title {
    width: 654px;
    text-align: center;
    @extend %roboto-400;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: $black-color;
  }
  &__name {
    @extend %ralway-700;
    font-size: 200px;
    display: block;
  }
  &__serf {
    width: 20px;
    height: 69px;
    position: absolute;
    bottom: 92px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__serf-img {
    @extend %img-styles;
  }
}

.logo {
  &__img {
    @extend %img-styles;
    width: 60px;
    height: 63px;
    object-fit: contain;
  }
}

.about {
  .section-title {
    padding-top: 189px;
    margin-bottom: 100px;
  }
  &__box {
    @extend %roboto-300;
    display: grid;
    justify-content: space-between;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 100px;
    margin-bottom: 200px;
    line-height: 1.29;
    letter-spacing: 0.04em;
  }
}

.benefits {
  background-color: $bg-color;
  @extend %roboto-300;
  line-height: 1.29;
  color: $text-color;
  .container {
    margin: 0 auto;
  }
  .section-title {
    margin-bottom: 101px;
  }
  &__list {
    display: flex;
    flex-direction: row;
    gap: 75px;
    margin-bottom: 102px;
  }
  &-item {
    max-width: 350px;
    width: 100%;
  }
  &__subtitle {
    @extend %roboto-400;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding-left: 60px;
    position: relative;
    margin-bottom: 10px;
    max-width: 220px;
    width: 100%;
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      left: 0;
      top: 0;
      @extend %img-styles;
    }
    &--living::before {
      background-image: url(../images/icons/living.svg);
    }
    &--flying::before {
      background-image: url(../images/icons/flying.svg);
    }
    &--studying::before {
      background-image: url(../images/icons/studying.svg);
    }
  }
  &__text {
    max-width: 350px;
    width: 100%;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
  }
  &__feature-text {
    max-width: 600px;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.development {
  display: flex;
  gap: 41px;
  justify-content: space-between;
  @extend %roboto-300;
  line-height: 1.29;
  color: $text-color;
  .container {
    margin: 0 0 0 auto;
  }
  &__box {
    max-width: 560px;
    width: 100%;
  }
  .section-title {
    margin-bottom: 100px;
  }
  &__item {
    max-width: 507px;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__img {
    @extend %img-styles;
    width: 960px;
    height: 850px;
  }
}

.gallery {
  .section-title {
    margin-bottom: 212px;
  }
  &__box {
    margin-bottom: 50px;
  }
  &__btns {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-transform: uppercase;
    @extend %roboto-400;
    font-size: 24px;
    line-height: 0.75;
    letter-spacing: 0.03em;
  }
  .mixitup-control-active {
    color: $accent-color;
  }
  &__img-list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 40px;
  }
  &__img-item {
    &:nth-child(1) {
      grid-column: span 2;
    }
    &:nth-child(2) {
      max-width: 290px;
      width: 100%;
    }
    &:nth-child(3) {
      max-width: 250px;
      width: 100%;
    }
    &:nth-child(4) {
      max-width: 250px;
      width: 100%;
    }
    &:nth-child(5) {
      max-width: 290px;
      width: 100%;
    }
    &:nth-child(6) {
      grid-column: span 2;
    }
  }
  &__img {
    min-height: 280px;
  }
}

.footer {
  background-color: $accent-color;
  .logo {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 68px 0;
  }
}
